h1 {
    margin-top:15px;
    text-align: center;
    color: #2F9CFC;
}

h2 {
    margin-top:50px;
    text-align: center;
    color: #2F9CFC;
}

td {
    text-align: center;
}

th {
    text-align: center;
    color: #2F9CFC;
}

.m-auto {
    width: 100%;
}